- content_for :title, "New Recipe"
.flex.flex-col.w-full
  .flex.justify-between.items-center.mb-6
    %h1.text-2xl.font-bold.text-gray-800 New Recipe
    = link_to "Back to recipes", recipes_path, class: "px-3 py-2 border border-gray-300 rounded text-gray-600 hover:bg-gray-50"

  = render "form", recipe: @recipe
