- content_for :title, "New Ingredient"
= turbo_frame_tag "modal" do
  .fixed.inset-0.bg-gray-500.bg-opacity-75.flex.items-center.justify-center.p-4.z-50
    .bg-white.rounded-lg.shadow-xl.max-w-md.w-full.mx-auto.overflow-hidden
      .flex.justify-between.items-center.border-b.px-6.py-4
        %h2.text-xl.font-bold.text-gray-800 New Ingredient
        = link_to ingredients_path, data: { turbo_frame: "_top" }, class: "text-gray-500 hover:text-gray-700" do
          %svg.h-5.w-5{xmlns: "http://www.w3.org/2000/svg", fill: "none", viewbox: "0 0 24 24", stroke: "currentColor"}
            %path{stroke: "currentColor", 'stroke-linecap': "round", 'stroke-linejoin': "round", 'stroke-width': "2", d: "M6 18L18 6M6 6l12 12"}

      .p-6
        = render "form", ingredient: @ingredient
