%section.w-full
  %h1.mb-8.text-3xl.font-bold.text-white My Pantry

  = link_to "Manage",
            edit_pantry_path,
            class: "mb-6 inline-block rounded bg-indigo-600 px-4 py-1 font-medium text-white hover:bg-indigo-500"

  %table.w-full.text-left.text-gray-200
    %thead.bg-gray-800
      %tr
        %th.px-4.py-2 Ingredient
        %th.px-4.py-2 Qty
        %th.px-4.py-2 Unit
    %tbody
      - @user_ingredients.each do |ui|
        %tr.border-b.border-gray-700.text-gray-800
          %td.px-4.py-2= ui.ingredient.name.titleize
          %td.px-4.py-2= ui.quantity
          %td.px-4.py-2= ui.unit
